<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>SNHU Courses</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>SNHU Courses</h1>
    <form method="post">
      <label for="course_name">Enter a course ID: (Ex: CS499)</label>
      <input type="text" id="course_name" name="course_name" required>
      <button type="submit">Submit</button>
    </form>
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}
    {% if graph %}
      <div id="graph">{{ graph|safe }}</div>
      {% endif %}
  </div>
</body>
</html>